
@media only screen and (min-width: 992px) {
    a.brand-logo {
        padding-left: 20px;
    }

    .parallax img {
        max-width: 100%;
    }

    .parallax-container {
        height: 400px;
    }
}

@media only screen and (max-width: 992px) {
    .parallax img {
        max-width: 250%;
    }

    .parallax-container {
        height: 250px;
        width: 100%;
    }
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Card links are #ffab40 orange accent-2*/

a.brand-logo {
    font-family: 'Roboto Slab', serif;
}
