@{
}
<br /><br />
<div class="row">
        <h2>About Me</h2>
        <p>
            My story, like many developers, is non-linear. Growing up in Portland, Oregon, with my dad working at Intel, I was around computers from an early age. Though spent a lot of time on the computer, at that age it was mostly playing games. When I was in middle school my dad boutght me a Visual Basic book, but not much came from it at the time. When it came time for college I decided to focus on my music and moved to Limerick, Ireland to earn a degree in Irish Music and Dance. After college I moved back to Portland and spent a handful of years working as a barista and playing music. a few years later, growing tired of the service industry I decided it was finally time to pursue my interest in computers and programming. A little over a year later, after a few months of self study and half a year studying at Epicodus, I am excited to be starting my new career as a developer!
        </p>
</div>