@{
}
<br /><br />
<div class="row">
    <div class="col l5">
        <h2>Erik Killops</h2>
        <p>
            I am a junior web developer based in Portland, Oregonm specializing in developing apps and websites in the .Net environement using C# and ASP.NET. I have additional experience with single page apps in TypeScript and Javascript with Angular 2 and Knockout.js. When I'm not coding I can be found playing Irish fiddle with my band <a href="http://www.narosai.com/">Na Rósaí</a>, cooking Thai or Italian food, or playing strategy board games.
        </p>
    </div>
    <div class="col l6 offset-l1">
        <img class="responsive-img" src="~/img/profile-pic.jpg" alt="Erik Profile Pic" />
    </div>
</div>